.gridContainer {
    display: grid;
    row-gap: 35px;
    align-items: center;
    justify-items: center;
    column-gap: 10px;
    padding: 1rem 1rem;
    @media screen and (min-width: 590px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 840px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1130px){
        grid-template-columns: repeat(4, 1fr);
    }
}  

.actionBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
}