.container {
    display: inline-block;
    cursor: pointer;
    min-width: 200px;
    text-align: center;
    position: relative;

    ul {
        border-radius: 5px;
        padding: 1rem;
        list-style: none;
        position: absolute;
        text-align: left;
        width: 100%;
        user-select: none;
        top: 60px;
        li {
            padding: 0.6rem 0.2rem;
        }
    }
}

.SelectedText {
    border-radius: 5px;
    padding: 1rem 0.7rem;

    &::after{
        content: "";
        position: absolute;
        right: 10px;
        top: 16px;
        border: 7px solid transparent;
        border-color: #fff transparent transparent transparent;
    }
}