@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$dark-primary: #202d36;
$dark-secondary: #2b3743;
$dark-text-color: #e4e4e4;
$light-primary: #e7e7e7;
$light-secondary: #ffffff;
$light-text-color: #040404;

.dark {
  background-color: $dark-primary;
  color: $dark-text-color;
  ::-webkit-scrollbar {
    background-color: #040404;
    color: #040404;
  }
}

.light {
  background-color: $light-primary;
  color: $light-text-color;
}

.dark-secondary {
  background-color: $dark-secondary;
  color: $dark-text-color;

  &::-webkit-input-placeholder {
    color: $dark-text-color;
  }
}

.light-secondary {
  background-color: $light-secondary;
  color: $light-text-color;

  &::-webkit-input-placeholder {
    color: $light-text-color;
  }
}

.dark-hover-secondary {
  &:hover,
  &:focus,
  &:focus-visible {
    transition: all 0.6s cubic-bezier(0.275, 0.82, 0.165, 1);
    background-color: $light-secondary;
    color: $light-text-color;
  }
}

.light-hover-secondary {
  &:hover,
  &:focus,
  &:focus-visible {
    transition: all 0.6s cubic-bezier(0.275, 0.82, 0.165, 1);
    background-color: $dark-secondary;
    color: $dark-text-color;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

body,
input,
textarea,
button {
  font-family: 'Nunito Sans', 'sans-serif';
}
